<section class="projectDetailsParentContainer">
    <section class="issueSection" id="projectSection">
        <div class="issueContainer">
            <div class="heading">
                <h3>All My Projects</h3>
                
                <!-- <div class="hamburgerIcon" id="myprojectsHamburgerIcon"><i class="fa-solid fa-bars"></i></div> -->
        
                <!-- <div class="hamburgerMenu" id="myprojectsHamburgerMenu">
                    <button id="resetButton" class="button">
                        <a href="/"   style=" text-decoration: none;"><i class="fa-solid fa-rotate-right"></i>&nbsp;Reset</a></button>
                    <button id="searchProjectButton" class="button">
                        <i class="fa-solid fa-magnifying-glass" ></i>Search Project</button>
                </div> -->
            </div>
            <% for(let project of allMyProjects){ %>
                <div class="projectCard">
                    <h4 title="Click to open"><a href="/project/page/<%= project.id %>"><%= project.name %></a></h4>
                    <div class="authorCreatedissuesContainer" >
                        <div class="authorContainer">
                            <small><b>Author:</b></small>
                            <p style="margin: 0%;font-size: small;"><%= project.author?project.author.username:'' %></p>
                        </div>
                        <div class="authorContainer">
                            <small><b>Created At:</b></small>
                            <p style="margin: 0%; font-size: small;"><%= project.createdAt.toLocaleDateString('en-US', {year:'numeric', month: 'numeric', day:'numeric', minute: '2-digit', second: '2-digit', hour: '2-digit'}) %></p>
                        </div>
                        <div class="authorContainer">
                            <small><b>#Issues:</b></small>
                            <p style="margin: 0%;font-size: small; align-self: center;"><%= project.issues.length %></p>
                        </div>
                    </div>
                    <div class="authorContainer">
                        <small><b>Description:</b></small>
                        <p style="margin: 0%;font-size: small;"><%= project.description %></p>
                    </div>
                </div>
            <% } %>
        </div>
    </section>

    

</section>