<title>My Comments</title>


<section class="projectDetailsParentContainer">
    <section class="issueSection" id="commentSection">
        <div class="issueContainer" id="commentContainer">
            <div class="heading">
                <h3>All My Comments</h3>
                
                <!-- <div class="hamburgerIcon" id="mycommentsHamburgerIcon"><i class="fa-solid fa-bars"></i></div> -->
        
                <!-- <div style="width: 50%; display: flex; flex-direction: row; justify-content: flex-end; align-items: center; "> -->
                
                    <!-- <div class="hamburgerMenu" id="mycommentshomeHamburgerMenu">
                    <button id="resetButton" class="button">
                        <a href="/"   style=" text-decoration: none;"><i class="fa-solid fa-rotate-right"></i>&nbsp;Reset</a></button>
                    <button id="searchProjectButton" class="button">
                        <i class="fa-solid fa-magnifying-glass"></i>Search Project</button>
                </div> -->
            </div>
            <!-- <div style="width:100%; display: flex; justify-content: space-between; align-items: center;">
                <h4>ALL MY COMMENTS</h4>
            </div> -->
    
            <% for(let comment of allComments){ %>
                <% let commentCreatedAt=new Date(comment.createdAt) %>
                <% const options = {
                    year: "numeric",
                    month: "2-digit",
                    day: "numeric",
                    hour: "2-digit",
                    minute: "2-digit",
                    second: "2-digit",
                  }; %>
                <% let commentFomattedDate=commentCreatedAt.toLocaleDateString('en-US', options) %>

                    <div class="projectCard">
                        <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 1%;">
                            <p style="margin: 0; color: gray;"><b><%= comment.comment %></b></p>
                            <div>
                                <button class="deleteCommentButton" data-id="<%= comment._id %>"><i class="fa-solid fa-trash"></i></button>
                            </div>
                            
                        </div>
                        <div class="authorCreatedissuesContainer" >
                            <div class="authorContainer">
                                <small><b>PROJECT</b></small>
                                <p style="margin: 0%;font-size: small;"><%= comment.issue.project.name %></p>
                            </div>
                            <div class="authorContainer">
                                <small><b>ISSUE</b></small>
                                <p style="margin: 0%; font-size: small;"><%= comment.issue.title %></p>
                            </div>
                            <div class="authorContainer">
                                <small><b>COMMENTED ON</b></small>
                                <p style="margin: 0%;font-size: small;"><%= commentFomattedDate %></p>
                            </div>
                        </div>
                    </div>
            <% } %>
        </div>
    </section>
</section>


<script src="/js/allMyComments.js"></script>