<title>Home</title>



    <section class="projectContainer">
        <h1>All Projects</h1>
        <% for(let project of projects){ %>
            <div class="projectCard">
                <h3><a href="/project/page/<%= project.id %>"><%= project.name %></a></h3>
                <p><b>Author:</b><%= project.author?project.author.username:'' %></p>
                <p><b>Created At:</b><%= project.createdAt %></p><br>
                <p><b>Description:</b><%= project.description %></p>
            </div>
        <% } %>
    </section>
