<title>Home</title>



    <section class="projectDetailsParentContainer">
        <section class="issueSection" id="issueSection">
            <div class="issueContainer">
                <div class="heading">
                    <h3>All Projects</h3>
                    <div class="hamburgerIcon" id="homeHamburgerIcon"><i class="fa-solid fa-bars"></i></div>
                    <div class="hamburgerMenu" id="homeHamburgerMenu">
                        <button id="resetButton" class="button">
                            <a href="/"   style=" text-decoration: none;"><i class="fa-solid fa-rotate-right"></i>&nbsp;Reset</a></button>
                        <!-- <button id="createProjectButton" style="margin: 1%; width: auto; background-color: white; border: 1px solid #0E8A16;; border-radius: 1.5rem; color: #0E8A16;; cursor: pointer;">
                            <i class="fa-solid fa-plus" style="color: #0E8A16;"></i>Create Project</button> -->
                        <button id="searchProjectButton" class="button">
                            <i class="fa-solid fa-magnifying-glass"></i>Search Project</button>
                    </div>
                </div>
                <% for(let project of projects){ %>
                    <div class="projectCard">
                        <h4><a href="/project/page/<%= project.id %>"><%= project.name %></a></h4>
                        <div class="authorCreatedissuesContainer" >
                            <div class="authorContainer">
                                <small><b>Author:</b></small>
                                <p style="margin: 0%;font-size: small;"><%= project.author?project.author.username:'' %></p>
                            </div>
                            <div class="authorContainer">
                                <small><b>Created At:</b></small>
                                <p style="margin: 0%; font-size: small;"><%= project.createdAt.toLocaleDateString('en-US', {year:'numeric', month: 'numeric', day:'numeric', minute: '2-digit', second: '2-digit', hour: '2-digit'}) %></p>
                            </div>
                            <div class="authorContainer">
                                <small><b>#Issues:</b></small>
                                <p style="margin: 0%;font-size: small; align-self: center;"><%= project.issues.length %></p>
                            </div>
                        </div>
                        <div class="authorContainer">
                            <small><b>Description:</b></small>
                            <p style="margin: 0%;font-size: small;"><%= project.description %></p>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
    </section>


    <!-- CREATE PROJECT SECTION -->
    <section id="createProjectFormSection">
        <div style="width: 50%; height: auto; background-color: lightgray; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
            <div style="height: 10%; width: 100%; display: flex; justify-content: space-between;">
                <h1>Create Project</h1>
                <button id="closeProjectFormButton"><i class="fa-solid fa-x"></i></button>
            </div>
            <form class="form" action="/project/create" method="POST" style="width: 90%; height: 90%; background-color: white; margin-bottom: 5%;">
                <input type="text" value="<%= locals.user %>" name="author" hidden/>
                <div class="inputContainer" style="height: 20%;">
                        <p for="projectFormName">Project Name:</p>
                        <input id="projectFormName" type="text" name="name" placeholder="Enter project name"/><br>
                </div>
                <div class="inputContainer">
                        <p for="projectFormDesc">Description:</p>
                        <textarea id="projectFormDesc" type="text" name="description" placeholder="Enter project description" textarea></textarea>
                </div>
                
    
                <input type="submit" placeholder="Submit" value="Submit" style="height: 15%; width: auto; padding: 1%;">
            </form>
        
        </div>
    </section>


    <!-- SEARCH PROJECT SECTION -->
    <section id="searchProjectFormSection">
        <div style="width: 50%; height: auto; background-color: lightgray; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
            <div style="height: 10%; width: 100%; display: flex; justify-content: space-between;">
                <h1>Search Project</h1>
                <button id="closeSearchProjectFormButton"><i class="fa-solid fa-x"></i></button>
            </div>


            <form class="form" action="/" method="GET" style="width: 90%; height: 90%; background-color: white; margin-bottom: 5%;">
                <div class="inputContainer" style="height: 20%;">
                        <h4 for="projectFormName">Project Name:</h4>
                        <input id="projectFormName" type="text" name="name" placeholder="Enter project name"/><br>
                </div>
                <div class="inputContainer">
                        <h4 for="projectFormDesc">Description:</h4>
                        <textarea id="projectFormDesc" type="text" name="description" placeholder="Enter project description" textarea></textarea>
                </div>
                <input type="submit" placeholder="Submit" value="Submit" style="height: 15%; width: auto; padding: 1%;">
            </form>
        

        </div>
    </section>


<script src="/js/homePage.js"></script>