<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ca58c8957e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/css/home.css">
    
    <%- style %>
</head>
<body onresize="myFunction()">

    <section class="parentContainer">
        <section class="leftContainer" id="leftContainer">
            <h1 style="margin: 10px;">Issue Tracker</h1>
            <div class="linksContainer">
                <a id="homePageLink" href="/" style="color: <%= page=='home'? '#0049B0' : 'white' %>"> <i  class="fa-solid fa-house" style="color: <%= page=='home'? '#0049B0' : 'white' %>"></i>&nbsp;Home</a>
                <% console.log('User in Layout:', locals.author) %>
                <% if(locals.author!=undefined){ %>
                    <a id="createProjectLink" href="/project/create" style="color: <%= page=='projectForm'? '#0049B0' : 'white' %>"> <i class="fa-solid fa-plus" style="color: <%= page=='projectForm'? '#0049B0' : 'white' %>"></i>&nbsp;Create Project</a>
                <% } %>
    
                <!-- <a href=""><i class="fa-solid fa-filter"></i>&nbsp;Filter Project</a> -->


                <% if(locals.author==undefined){ %>
                    <a id="loginLink" href="/user/login" style="color: <%= page=='login'? '#0049B0' : 'white' %>"><i class="fa-solid fa-right-to-bracket" style="color: <%= page=='login'? '#0049B0' : 'white' %>"></i>&nbsp;Login</a>
                    
                    <a id="signupLink" href="/user/signup" style="color: <%= page=='signup'? '#0049B0' : 'white' %>"><i class="fa-solid fa-user-plus" style="color: <%= page=='signup'? '#0049B0' : 'white' %>"></i>&nbsp;Signup</a>
                <% }else{ %>
                    <a id="myProjectsLink" href="/project/userProjects/<%= locals.author.id %>" style="color: <%= page=='userProjects'? '#0049B0' : 'white' %>"><i class="fa-solid fa-folder"  style="color: <%= page=='userProjects'? '#0049B0' : 'white' %>"></i>&nbsp;My Projects</a>
                    
                    <a id="myIssuesLink" href="/issue/userIssues/<%= locals.author.id %>" style="color: <%= page=='userIssues'? '#0049B0' : 'white' %>"><i class="fa-regular fa-circle-dot" style="color: <%= page=='userIssues'? '#0049B0' : 'white' %>"></i>&nbsp;My Issues</a>

                    <a id="myCommentsLink" href="/comment/userComments" style="color: <%= page=='userComments'? '#0049B0' : 'white' %>"><i class="fa-solid fa-comment" style="color: <%= page=='userComments'? '#0049B0' : 'white' %>"></i>&nbsp;My Comments</a>
                    
                    <a id="myCommentsLink" href="/user/userPage/<%= locals.author.id %>" style="color: <%= page=='userDetailsPage'? '#0049B0' : 'white' %>"><i class="fa-solid fa-user" style="color: <%= page=='userDetailsPage'? '#0049B0' : 'white' %>"></i>&nbsp;<%= locals.author.username %></a>
                    
                    <a id="logoutLink" href="/user/logout" style="color: <%= page=='signup'? '#0049B0' : 'white' %>"><i class="fa-solid fa-right-from-bracket" style="color: <%= page=='login'? '#0049B0' : 'white' %>"></i>&nbsp;Logout</a>
                    <% } %>
            </div>
        </section>

        <%- body %>
    </section>

    
    
    <%- script %>
    <script src="/js/layout.js"></script>
</body>
</html>