<title><%= title %></title>
<link rel="stylesheet" href="/css/projectPage.css"/>


<section class="projectDetailsParentContainer">
    <section class="projectPageSection">
        <h3><a href="/project/page/<%= project.id %>"><%= project.name %></a></h3>
        <p><b>Author:</b><%= project.author?project.author.username:'' %></p>
        <p><b>Created At:</b><%= project.createdAt %></p>
        <p><b>Description:</b><%= project.description %></p>
        <form action="/project/delete/<%= project.id %>" method="POST">
            <input type="submit" value="Delete Project"/>
        </form>
        <h4 style="text-align: left;">CREATE AN ISSUE</h4>
        <form action="/issue/create" method="POST">
            <input type="text" name="project" value="<%= project.id %>" hidden/>
            <input type="text" name="author" value="653900145784c63eab3a3b25" hidden/>
            <label for="issueFormTitle">Title</label>
            <input id="issueFormTitle" type="text" name="title" placeholder="Enter title"><br>
            <label for="issueFormDescription">Description</label>
            <textarea id="issueFormDescription" type="text" name="description" placeholder="Enter description" rows="1" cols="50"></textarea><br>
            <input type="submit" value="Submit issue">
        </form>
    </section>
    <section class="issueSection">
        <div class="issueContainer">
            <h4>ALL ISSUES</h4>
            <% for(let issue of issues){ %>
                <div class="issueCard">
                    <h3><a href="/issue/"><%= issue.title %></a></h3>
                    <p><b>Author:</b><%= issue.author?issue.author.username:'' %></p><br>
                    <p><b>Description:</b><%= issue.description %></p><br>
                    <p><b>Status:</b><%= issue.status%></p>
                    <p><b>Created At:</b><%= issue.createdAt %></p><br>
                    
                </div>
            <% } %>
            </div>
        

    </section>
</section>

