<title><%= title %></title>
<link rel="stylesheet" href="/css/projectPage.css"/>


<section class="projectDetailsParentContainer">





<!-- PROJECT DETAILS SECTION -->
    <section class="projectPageSection" id="projectPageSection">
        <div class="heading">
            <h3><%= project.name %></h3>
        </div>
        
        <% let projectCreatedAt=new Date(project.createdAt) %>
        <% const options = {
            year: "numeric",
            month: "numeric",
            day: "numeric",
            hour: "2-digit",
            minute: "2-digit",
          }; %>
        <% let projectFormattedDate=projectCreatedAt.toLocaleDateString('en-US', options) %>

        <div class="authorCreatedissuesContainer" >
            <div class="authorContainer">
                <small ><b>AUTHOR:</b></small>
                <p style="margin: 0%;font-size: small;"><%= project.author?project.author.username:'' %></p>
            </div>
            <div class="authorContainer">
                <small ><b>CREATED:</b></small>
                <p style="margin: 0%; font-size: small;"><%= projectFormattedDate %></p>
            </div>
            <div class="authorContainer">
                <small ><b>#Issues:</b></small>
                <p style="margin: 0%;font-size: small; align-self: center;"><%= project.issues.length %></p>
            </div>
        </div>
        <div class="authorContainer">
            <small><b>DESCRIPTION:</b></small>
            <p style="margin: 0%;font-size: small;"><%= project.description %></p>
        </div>

        <form action="/project/delete/<%= project.id %>" method="POST" style="display: flex; justify-content: center; margin: 1%;">
            <input id="deleteButton" type="submit" value="Delete Project"/>
        </form>
    </section>






<!-- ISSUE SECTION -->
    <section class="issueSection" id="issueSection">
        <div class="issueContainer" >
            <div class="heading">
                <h3>Issues</h3>
                <div class="hamburgerIcon" title="Search and Create Buttons" id="projectPagehamburgerIcon"><i class="fa-solid fa-bars"></i></div>
                <div class="hamburgerMenu" id="projectPagehamburgerMenu">
                    <button class="button" id="resetButton">
                        <a href="/project/page/<%= project.id %>"><i class="fa-solid fa-rotate-right"></i>&nbsp;Reset</a></button>
                    <button class="button" id="searchButton">
                        <i class="fa-solid fa-magnifying-glass"></i>&nbsp;Search</button>
                    <button class="button" id="filterButton">
                        <i class="fa-solid fa-filter"></i>&nbsp;Filter</button>
                    <button class="button" id="createIssueButton">
                        <i class="fa-solid fa-plus"></i>&nbsp;Create Issue</button>
                </div>
            </div>

            <% for(let issue of issues){ %>
                <% let issueCreatedAt=new Date(issue.createdAt) %>
                <% const options = {
                    year: "numeric",
                    month: "2-digit",
                    day: "numeric",
                    hour: "2-digit",
                    minute: "2-digit",
                  }; %>
                <% let issueFomattedDate=issueCreatedAt.toLocaleDateString('en-US', options) %>
                <% if( issue.author && issue.labels.length>0 ){ %>
                    <div class="issueCard">
                        <h4 style="margin: 1% 1% 0% 1%; text-align: left;"><%= issue.title %></h4>

                        <div class="authorCreatedissuesContainer" >
                            <div class="authorContainer">
                                <small ><b>AUTHOR:</b></small>
                                <p style="margin: 0%;font-size: small;"><%= issue.author?issue.author.username:'' %></p>
                            </div>
                            <div class="authorContainer">
                                <small ><b>CREATED ON:</b></small>
                                <p style="margin: 0%; font-size: small;"><%= issueFomattedDate %></p>
                            </div>
                            <div class="authorContainer">
                                <small ><b>STATUS:</b></small>
                                <p style="margin: 0%;font-size: small;"><%= issue.status %></p>
                            </div>
                        </div>
                        <div class="authorContainer">
                            <small ><b>DESCRIPTION:</b></small>
                            <p style="margin: 0%;font-size: small;"><%= issue.description %></p>
                        </div>


                        

                        <div class="commentContainer">
                            <p style="margin: 0%; align-self: flex-start; color: gray;"><b>COMMENTS:</b></p>
                                <% for(let comment of issue.comments){ %>
                                    <% let commentCreatedAt=new Date(comment.createdAt) %>
                                    <% const options = {
                                        year: "numeric",
                                        month: "2-digit",
                                        day: "numeric",
                                        hour: "2-digit",
                                        minute: "2-digit"
                                      }; %>
                                    <% let commentFomattedDate=commentCreatedAt.toLocaleDateString('en-US', options) %>
                                    <div class="commentCard">
                                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                            <p style="margin: 0%;"><b><%= comment.author.username %></b><small style="margin: 5px;"><%= commentFomattedDate %></small><b>:</b></p>
                                            <button class="commentEditButton" data-id="<%= comment._id %>" data-comment="<%= comment.comment%>" title="Edit Comment" style="cursor: pointer;"><i class="fa-solid fa-pen"></i></button>
                                        </div>
                                        <div>
                                            <small style="word-break: break-all; color: black;"><%= comment.comment %></small><br>
                                        </div>

                                    </div>
                                <% } %>
                        </div>
                        <form action="/comment/create" method="POST" style="width: auto; height: auto; background-color: white; margin: 1% 1% 0% 1%;">
                            <input type="text" name="project" value="<%= project._id %>" hidden/>
                            <input  type="text" name="issue" value="<%= issue._id %>" hidden/>
                            <div style="display: flex; flex-direction:row; margin: 1%;">
                                <input type="text" name="comment" placeholder="Write Comment(less than 200 characters)" style="width: 85%; padding: 1%;">
                                <input type="submit" value="Comment" class="commentButton">
                            </div>
                        </form>
                        <div class="labelsContainer">
                            <% for(let label of issue.labels){ %>
                                <div class="label" style="color: <%= label.color %>; background-color: <%= label.backgroundColor %>"><%= label.name %></div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </section>






    <!-- CREATE ISSUE SECTION -->
    <section id="createIssueFormSection">
        <div style="width: 50%; height: 60%; background-color: lightgray; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
            <div style="height: 10%; width: 100%; display: flex; justify-content: space-between;">
                <h4>CREATE AN ISSUE</h4>
                <button id="closeIssueFormButton"><i class="fa-solid fa-x"></i></button>
            </div>
            <form class="form" action="/issue/create" method="POST" style="width: 90%; height: 90%; background-color: white; margin-bottom: 5%;">
                <input type="text" name="project" value="<%= project._id %>" hidden/>
                <input type="text" name="author" value="<%= author.id %>" hidden/>
                <div class="inputContainer" style="height: 25%;">
                        <h4 for="issueFormTitle">Title:</h4>
                        <input id="issueFormTitle" type="text" name="title" placeholder="Enter title" required><br>
                </div>
                <div class="inputContainer">
                        <h4 for="issueFormDescription">Description(Less than 500 characters allowed):</h4>
                        <textarea id="issueFormDescription" type="text" name="description" placeholder="Enter description" required></textarea><br>
                </div>
                <div  class="inputContainer">
                    <h4 for="issueFormDescription">Labels(Select Atlease One Label):</h4>
                    <div style="display: flex; flex-direction: row; flex-wrap: wrap; margin: 1%; width: 90%; overflow-y: scroll; ">
                        <input id="createIssueFormLabelsInput" type="hidden" name="labels" value/>
                        <% for(let label of labels){ %>
                            <div data-value="<%= label.id %>" class="createIssueLabelButtons"><%= label.name %></div>
                        <% } %>
                    </div>
                </div>
                <input type="submit" value="Submit issue">
            </form>
        </div>
    </section>







    <!-- SEARCH ISSUE SECTION -->
    <section id="searchSection">
        <div style="width: 50%; height: auto; background-color: lightgray; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
            <div style="height: 10%; width: 100%; display: flex; justify-content: space-between;">
                <h4>SEARCH ISSUE</h4>
                <button id="closeSearchButton"><i class="fa-solid fa-x"></i></button>
            </div>
            <form id="searchIssueForm" class="form" action="/project/page/<%= project.id %>" method="POST" style="width: 90%; height: 90%; background-color: white; margin-bottom: 5%;">
                <input type="text" name="project" value="<%= project.id %>" hidden/>

                <div class="inputContainer" style="height: 25%;">
                        <h4 for="searchIssueFormTitle">Title</h4>
                        <input id="searchIssueFormTitle" type="text" name="title" placeholder="Enter title"><br>
                </div>

                <div class="inputContainer">
                        <h4 for="searchIssueFormDescription">Description(Enter only a part of description)</h4>
                        <textarea id="searchIssueFormDescription" type="text" name="description" placeholder="Enter description"></textarea><br>
                </div>
                <input type="submit" value="Submit issue" style="height: 15%; width: auto; padding: 1%;">
            </form>
        </div>
    </section>










    <!-- FILTER SECTION -->
    <section id="filterSection">
        <div style="width: 50%; height: auto; background-color: lightgray; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
            <div style="height: 10%; width: 100%; display: flex; justify-content: space-between;">
                <h4>FILTER ISSUE</h4>
                <button id="closeFilterButton"><i class="fa-solid fa-x"></i></button>
            </div>
            <form id="filterIssueForm" class="form" action="/project/page/<%= project.id %>" method="POST" style="width: 90%; height: 90%; background-color: white; margin-bottom: 5%;">
                <input type="text" name="project" value="<%= project.id %>" hidden/>


                <div class="inputContainer">
                    <h4 for="searchIssueFormAuthorsInput">Authors:(Click to select)</h4>
                    <div style="display: flex; flex-direction: row; flex-wrap: wrap; margin: 1%; width: 90%; overflow: scroll;">
                        <input id="searchIssueFormAuthorsInput" type="hidden" name="authors" value/>
                        <% for(let user of users){ %>
                            <div data-value="<%= user.username %>" class="authorButtons"><%= user.username %></div>
                        <% } %>
                    </div>
                </div>

                <div  class="inputContainer">
                    <h4 for="searchIssueFormLabelsInput">Labels:(Click to select)</h4>
                    <div style="display: flex; flex-direction: row; flex-wrap: wrap; margin: 1%; width: 90%;">
                        <input id="searchIssueFormLabelsInput" type="hidden" name="labels" value/>
                        <% for(let label of labels){ %>
                            <div data-value="<%= label.id %>" class="labelButtons"><%= label.name %></div>
                        <% } %>
                    </div>
                </div>


                <input type="submit" value="Submit issue" style="height: 15%; width: auto; padding: 1%;">
            </form>
        </div>
    </section>
</section>

<script src="/js/projectPage.js"></script>



<!-- EDIT COMMENT SECTION -->
<section id="editCommentFormSection">
        <div style="width: 50%; height: auto; background-color: lightgray; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
            <div style="height: 10%; width: 100%; display: flex; justify-content: space-between;">
                <h4>EDIT COMMENT</h4>
                <button id="closeEditCommentButton" style="cursor: pointer;"><i class="fa-solid fa-x"></i></button>
            </div>
            <form action="/comment/edit" method="POST" style="width: 90%; height: auto; background-color: lightgray; margin: 5px; margin-bottom: 1%; display: flex; flex-direction: column; align-items: center;">
                    <input id="editCommentId" type="text" name="id" hidden/>
                    <input type="text" name="projectId" value="<%= project._id %>" hidden/>
                    <textarea id="editCommentText" type="text" name="comment" placeholder="Write Comment" style="width: 100%; padding: 1%; margin: 1%;"></textarea>
                    <input type="submit" value="Edit Comment" class="commentButton">
            </form>
        </div>
</section>

<script>
    <% console.log('PROJECTPAGE:', flashMessage) %>
    <% if(flashMessage.success){ %>
        new Noty({
                theme: 'relax',
                text: "<%= flashMessage.success %>",
                type: "success",
                layout: 'topRight',
                timeout: '3000',
                progressBar: true
            }).show();
    <% } %>

    <% if(flashMessage.info){ %>
        <%console.log(flashMessage.info);%>
        new Noty({
                theme: 'relax',
                text: "<%= flashMessage.info %>",
                type: "info",
                layout: 'topRight',
                timeout: '3000',
                progressBar: true
            }).show();
    <% } %>

    <% if(flashMessage.warning){ %>
        <%console.log(flashMessage.warning);%>
        new Noty({
                theme: 'relax',
                text: "<%= flashMessage.warning %>",
                type: "warning",
                layout: 'topRight',
                timeout: '1500',
                progressBar: true
            }).show();
    <% } %>
</script>