<title><%= title %></title>
<link rel="stylesheet" href="/css/projectPage.css"/>


<section class="projectDetailsParentContainer">





<!-- PROJECT DETAILS SECTION -->
    <section class="projectPageSection" id="projectPageSection">
        <h3><%= project.name %></h3>
        <div style="display: flex; justify-content: space-between;">
            <p style="font-size: small;"><b>Author:</b><%= project.author?project.author.username:'' %></p> 
            <p style="font-size: small;"><b>Created At:</b><%= project.createdAt %></p>
        </div>
        <p style="font-size: small;"><b>Description:</b><%= project.description %></p>

        <form action="/project/delete/<%= project.id %>" method="POST" style="display: flex; justify-content: center;">
            <input id="deleteButton" type="submit" value="Delete Project"/>
        </form>
    </section>






<!-- ISSUE SECTION -->
    <section class="issueSection" id="issueSection">
        <div class="issueContainer">
            <div style="width:100%; display: flex; justify-content: space-between; align-items: center;">
                <h4>ALL ISSUES</h4>
                <div style="width: 30%; display: flex; flex-direction: row;">
                    <button id="resetButton" style="margin: 1%; width: 33%; background-color: white; border: 1px solid #1E3050; border-radius: 1.5rem; color: #1E3050; cursor: pointer;">
                        <a href="/project/page/<%= project.id %>"   style=" text-decoration: none;"><i class="fa-solid fa-rotate-right"></i>&nbsp;Reset</a></button>
                    <button id="searchButton" style="margin: 1%; width: 33%; background-color: white; border: 1px solid #1E3050; border-radius: 1.5rem; color: #1E3050; cursor: pointer;">
                        <i class="fa-solid fa-magnifying-glass" style="color: #1E3050;"></i>&nbsp;Search</button>
                    <button id="filterButton" style="margin: 1%; width: 33%; background-color: white; border: 1px solid #1E3050; border-radius: 1.5rem; color: #1E3050; cursor: pointer;">
                        <i class="fa-solid fa-filter"></i>&nbsp;Filter</button>
                    <button id="createIssueButton" style="margin: 1%; width: 33%; background-color: white; border: 1px solid #0E8A16; border-radius: 1.5rem; color: #0E8A16; cursor: pointer;">
                        <i class="fa-solid fa-plus" style="color: #0E8A16;"></i>&nbsp;Create Issue</button>
                </div>
            </div>

            <% for(let issue of issues){ %>
                <% if(issue.author && issue.labels.length>0 ){ %>
                    <div class="issueCard">
                        <h3><a href="/issue/"><%= issue.title %></a></h3>
                        <div style="display: flex; justify-content: space-between;">
                            <p><b>Author:</b><%= issue.author?issue.author.username:'' %></p><br>
                            <p><b>Status:</b><%= issue.status%></p>
                            <p><b>Created At:</b><%= issue.createdAt %></p><br>
                        </div>

                        <p><b>Description:</b><%= issue.description %></p><br>

                        <div class="labelsContainer">
                            <% for(let label of issue.labels){ %>
                                <div class="label" style="color: <%= label.color %>; background-color: <%= label.backgroundColor %>"><%= label.name %></div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </section>






    <!-- CREATE SECTION -->
    <section id="createIssueFormSection">
        <div style="width: 50%; height: 60%; background-color: lightgray; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
            <div style="height: 10%; width: 100%; display: flex; justify-content: space-between;">
                <h4>CREATE AN ISSUE</h4>
                <button id="closeIssueFormButton"><i class="fa-solid fa-x"></i></button>
            </div>
            <form class="form" action="/issue/create" method="POST" style="width: 90%; height: 90%; background-color: white; margin-bottom: 5%;">
                <input type="text" name="project" value="<%= project._id %>" hidden/>
                <input type="text" name="author" value="<%= author.id %>" hidden/>
                <div class="inputContainer" style="height: 25%;">
                        <h4 for="issueFormTitle">Title:</h4>
                        <input id="issueFormTitle" type="text" name="title" placeholder="Enter title" required><br>
                </div>
                <div class="inputContainer">
                        <h4 for="issueFormDescription">Description</h4>
                        <textarea id="issueFormDescription" type="text" name="description" placeholder="Enter description" required></textarea><br>
                </div>
                <div  class="inputContainer">
                    <h4 for="issueFormDescription">Labels:(Ctrl + click to select multiple)</h4>
                    <div style="display: flex; flex-direction: row; flex-wrap: wrap; margin: 1%; width: 90%; overflow-y: scroll; ">
                        <input id="createIssueFormLabelsInput" type="hidden" name="labels" value/>
                        <% for(let label of labels){ %>
                            <div data-value="<%= label.id %>" class="createIssueLabelButtons"><%= label.name %></div>
                        <% } %>
                    </div>
                </div>
                <input type="submit" value="Submit issue">
            </form>
        </div>
       
        

    </section>







    <!-- SEARCH SECTION -->
    <section id="searchSection">
        <div style="width: 50%; height: auto; background-color: lightgray; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
            <div style="height: 10%; width: 100%; display: flex; justify-content: space-between;">
                <h4>SEARCH ISSUE</h4>
                <button id="closeSearchButton"><i class="fa-solid fa-x"></i></button>
            </div>
            <form id="searchIssueForm" class="form" action="/project/page/<%= project.id %>" method="POST" style="width: 90%; height: 90%; background-color: white; margin-bottom: 5%;">
                <input type="text" name="project" value="<%= project.id %>" hidden/>

                <div class="inputContainer" style="height: 25%;">
                        <h4 for="searchIssueFormTitle">Title</h4>
                        <input id="searchIssueFormTitle" type="text" name="title" placeholder="Enter title"><br>
                </div>

                <div class="inputContainer">
                        <h4 for="searchIssueFormDescription">Description</h4>
                        <textarea id="searchIssueFormDescription" type="text" name="description" placeholder="Enter description"></textarea><br>
                </div>
                <input type="submit" value="Submit issue" style="height: 15%; width: auto; padding: 1%;">
            </form>
        </div>
    </section>










    <!-- FILTER SECTION -->
    <section id="filterSection">
        <div style="width: 50%; height: auto; background-color: lightgray; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
            <div style="height: 10%; width: 100%; display: flex; justify-content: space-between;">
                <h4>FILTER ISSUE</h4>
                <button id="closeFilterButton"><i class="fa-solid fa-x"></i></button>
            </div>
            <form id="filterIssueForm" class="form" action="/project/page/<%= project.id %>" method="POST" style="width: 90%; height: 90%; background-color: white; margin-bottom: 5%;">
                <input type="text" name="project" value="<%= project.id %>" hidden/>


                <div class="inputContainer">
                    <h4 for="searchIssueFormAuthorsInput">Authors:(Click to select)</h4>
                    <div style="display: flex; flex-direction: row; flex-wrap: wrap; margin: 1%; width: 90%; overflow: scroll;">
                        <input id="searchIssueFormAuthorsInput" type="hidden" name="authors" value/>
                        <% for(let user of users){ %>
                            <div data-value="<%= user.username %>" class="authorButtons"><%= user.username %></div>
                        <% } %>
                    </div>
                </div>

                <div  class="inputContainer">
                    <h4 for="searchIssueFormLabelsInput">Labels:(Click to select)</h4>
                    <div style="display: flex; flex-direction: row; flex-wrap: wrap; margin: 1%; width: 90%;">
                        <input id="searchIssueFormLabelsInput" type="hidden" name="labels" value/>
                        <% for(let label of labels){ %>
                            <div data-value="<%= label.id %>" class="labelButtons"><%= label.name %></div>
                        <% } %>
                    </div>
                </div>


                <input type="submit" value="Submit issue" style="height: 15%; width: auto; padding: 1%;">
            </form>
        </div>
    </section>
</section>

<script src="/js/projectPage.js"></script>
